
.input-container{
   display: flex;
   flex-grow: 1;
   margin-bottom: 10px;
}

.send-btn{
    background-color: rgb(25, 135, 84);
    border: none;
    color: white;
    border-radius: 6px;
    padding: 13px;
    width: 78px;
    cursor: pointer;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 15px;
}

.send-btn:hover{
    background-color: rgb(25, 102, 84);
}

.chat-input{
    font-size: 15px;
    padding: 12px 15px;
    border-width: 1px;
    border-radius: 10px;
   
}
   
