.chat-input{
    font-size: 15px;
    padding: 12px 15px;
    border-width: 1px;
    border-radius: 10px;
}

.send-btn{
    background-color: black;
    border: none;
    color: white;
    border-radius: 6px;
    padding: 13px;
    width: 78px;
    cursor: pointer;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 15px;
}