.chat-message-user{
    display: flex;
    justify-content: right;
    align-items: center; 
    margin-top: 10px; 
    margin-bottom: 10px;
}

.chat-message-robot{
  display: flex;
  align-items: center;
  
}
.text-message{
    background-color: rgb(238, 238, 238);
    padding: 15px 20px;
    border-radius: 10px;
    max-width: 200px;
    margin-top: 0;
    margin-bottom: 0;
    overflow-wrap: break-word;
}